@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --background-botao: #167BF7;
    --destaque-text: #EC2F46;
    --cor-de-fundo: #00030c;
    --font-principal: 'inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.sessao1 {
    background-image: url("assets/images/Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;

}

.container__conteudo1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10%;
    gap: 1rem;
}

.container__titulo1 {
    font-weight: 700;
    font-size: 1.5rem;
}

.container__imagem1 {
    margin: 6% auto;
}

.container__butao {
    text-decoration: none;
    background-color: var(--background-botao);
    border-radius: 0.3125rem;
    padding: 0.75rem;
    color: var(--branco-principal);
    font-weight: 400;
    font-size: 1rem;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}


.container__aviso {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.sessao2 {
    align-items: center;
    margin: 0% 8%;
}

.container__titulo2 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.container__descricao {
    color: var(--cinza-secundario);
    font-size: 1rem;
    margin-bottom: 2rem;

}

.container__imagem2 {
    width: 80%;
}

.sessao3 {
    align-items: center;
    margin: 0% 8%;
}

.container__imagem3 {
    width: 90%;
    margin-left: 6%;
}

.sessao4 {
    align-items: center;
    margin: 0% 8%;
}

.container__titulo4 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.container__imagem4 {
    width: 95%;
}

.dispositivos {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dispositivos__titulo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--branco-principal);
}

.dispositivo__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 10% 0;
}

.dispositivo__imagem {
    width: 80%;
}

.lista__item {
    font-weight: 700;
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.rodape__imagem {
    width: 6%;
    margin: 2.5rem;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 1rem;
}

.lista__link a {
    text-decoration: none;
    margin-left: 1rem;
    color: var(--branco-principal);
}

.rodape__paragrafo {
    text-align: center;
    font-size: 0.875rem;
    color: var(--cinza-secundario);
    margin: 0.4rem 0;
}




@media screen and (max-width: 768px) {

    .container,
    .dispositivos,
    .rodape {
        height: auto;
        text-align: center;
    }


    .sessao1,
    .sessao2,
    .sessao3,
    .sessao4 {
        display: flex;
        flex-direction: column;
        background-image: none;
        margin: 20% 0;
    }

    .container__imagem1,
    .container__imagem2,
    .container__imagem3,
    .container__imagem4 {
        order: -1;
        margin: 2rem 0;
    }

    .container__imagem2,
    .container__imagem3,
    .container__imagem4 {
        width: 70%;
    }

    .container__titulo1,
    .container__titulo2,
    .container__titulo4,
    .dispositivos__titulo {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .dispositivo__lista {
        margin: 0.5rem 0;
        flex-direction: row-reverse;
    }

    .lista__item {
        font-size: 1rem;
    }

    .rodape {
        margin: 1rem 0.4rem;
    }

    .rodape__imagem {
        width: 20%;
        margin: 5rem 0 1rem 0;
    }

    .rodape__lista {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;

    }

    .lista__link a {

        font-size: small;
        margin-bottom: 1rem;
    }

    .rodape__paragrafo {
        /* text-align: justify; */
        font-size: 0.6rem;
        margin: 0;

    }

}