@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --background-botao: #167BF7;
    --destaque-text: #EC2F46;
    --background: #00030c;
    --font-principal: 'inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--branco-principal);
    font-family: var(--font-principal);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.sessao1 {
    background-image: url("assets/images/Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;

}

.container__conteudo1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10%;
    gap: 1.5rem;
}

.container__titulo1 {
    font-weight: 700;
    font-size: 1.75rem;
}

.container__imagem1 {
    margin: 0 15%;
}

.container__butao {
    text-decoration: none;
    background-color: var(--background-botao);
    border-radius: 0.3125rem;
    padding: 1rem;
    color: var(--branco-principal);
    font-weight: 400;
    font-size: 1rem;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}


.container__aviso {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.sessao2 {
    align-items: center;
    margin: 0% 8%;
}

.container__titulo2 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.container__descricao {
    color: var(--cinza-secundario);
    font-size: 1rem;
    margin-bottom: 2rem;
    
}

.container__imagem2 {
    width: 80%;
}

.sessao3 {
    align-items: center;
    margin: 0% 8%;
}

.container__imagem3{
    width: 90%;
    margin: 0 0 0 6%;
}







@media (max-width: 940px) {
    .container {
        display: flex;
        height: fit-content;
        padding: 2.25rem 0;
        text-align: center;

    }

    .sessao1 {
        background-image: none;
    }

    .container__conteudo1 {
        margin: 0;
        padding: 6%;
    }

    .container__imagem1,.container__imagem2, .container__imagem3{
        margin: 0 5% 10% 5%;
        order: -1;
    }

    .sessao2 {
        flex-direction: column;
    }

    .container__titulo2{
        font-size: 1.5rem;
    }

    .sessao3{
        display: flex;
        flex-direction: column;
    }
}